# === Frontend: mock-investment ===

mock-investment/node_modules
mock-investment/.pnp
mock-investment/.pnp.*
mock-investment/.yarn/*
mock-investment/!.yarn/patches
mock-investment/!.yarn/plugins
mock-investment/!.yarn/releases
mock-investment/!.yarn/versions

mock-investment/coverage
mock-investment/.next/
mock-investment/out/
mock-investment/build
mock-investment/.DS_Store
mock-investment/*.pem
mock-investment/npm-debug.log*
mock-investment/yarn-debug.log*
mock-investment/yarn-error.log*
mock-investment/.pnpm-debug.log*
mock-investment/.env*
mock-investment/.vercel
mock-investment/*.tsbuildinfo
mock-investment/next-env.d.ts

# === Backend: Spring Boot ===

# Build
backend/build/
backend/.gradle/
!backend/gradle/wrapper/gradle-wrapper.jar

# Class, binary
backend/**/*.class
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# Logs
backend/*.log

# Environment variables
backend/.env

# === IDEs ===

# IntelliJ IDEA
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/

# Eclipse / Spring Tool Suite
backend/.classpath
backend/.project
backend/.settings/
backend/.apt_generated/
backend/.factorypath/
backend/.springBeans/
backend/.sts4-cache/
backend/bin/

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

# VS Code
backend/.vscode/

# === OS/General ===

# macOS
backend/.DS_Store
backend/__MACOSX/

# Swap / temp
backend/*.swp

# Spring Boot 설정 파일
backend/src/main/resources/application.yml
