# === Frontend: mock-investment ===

mock-investment/node_modules
mock-investment/.pnp
mock-investment/.pnp.*
mock-investment/.yarn/*
mock-investment/!.yarn/patches
mock-investment/!.yarn/plugins
mock-investment/!.yarn/releases
mock-investment/!.yarn/versions

mock-investment/coverage
mock-investment/.next/
mock-investment/out/
mock-investment/build
mock-investment/.DS_Store
mock-investment/*.pem
mock-investment/npm-debug.log*
mock-investment/yarn-debug.log*
mock-investment/yarn-error.log*
mock-investment/.pnpm-debug.log*
mock-investment/.env*
mock-investment/.vercel
mock-investment/*.tsbuildinfo
mock-investment/next-env.d.ts

# === Backend: Spring Boot ===

backend/.gradle/
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse/STS
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

# VS Code
backend/.vscode/
